<section id="members" class="wrapper style2 spotlights">
  <div class="row">
  <% members.forEach(function(member){ %>
    <p class="6u">
      <span class="image left">
        <img src="assets/images/<%= member.image %>" alt="" width="200" height="200" />
      </span>
      <%= member.content %>
    </p>
<!--     <section class="6u memeber">
      <a href="#" class="image"></a>
      <div class="content">
        <div class="inner">
          <h2><%= member.name %></h2>
          <p><%= member.content %></p>
          <ul class="actions">
            <li><a href="#" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
 -->  <% }); %>
  </div>
</section>